* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(244, 225, 225);
  font-family: Arial, sans-serif;
}

main {
  width: 95%;
  margin: 10px auto;
}

header {
  margin: 30px;
}

nav {
  background-color: rgb(244, 225, 225);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.nav-item {
  padding: 5px;
}

button {
  font-size: 15px;
  text-align: right;
  border-style: ridge;
  margin: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: #666;
}

.item-list {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  border: .5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border-radius: 15px;
}

.card h2 {
  font-size: 20px;
}

.card p {
  font-size: 13px;
  flex: 2 2 auto;
  text-align: right;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: white;
}

.card-image {
  margin: 0 0 15px 0;
  max-height: 225px;
  max-width: 100%;
}

.card-body {
  text-align: center;
}